.loader {
  width: 30px;
  height: 30px;
  border-width: 3px;
  border-style: dashed solid solid dotted;

  border-color: var(--clr-neutral-300) var(--clr-neutral-300) transparent
    var(--clr-neutral-300);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 10px;
  top: 16px;
  border: 8px solid transparent;
  border-right-color: var(--clr-neutral-300);
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
