.input {
  padding: 1rem 2rem;

  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

  font-family: var(--ff-primary);
  color: var(--clr-primary-100);

  font-size: 1.8rem;

  width: 100%;
}
::placeholder {
  font-family: var(--ff-primary);
}
