@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --ff-primary: "Work Sans", sans-serif;

  --clr-grayish-purple: hsl(292, 16%, 49%);

  --clr-dark-purple: hsl(292, 42%, 14%);

  --clr-light-pink: hsl(275, 100%, 97%);

  --clr-white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  background-color: var(--clr-light-pink);

  font-family: var(--ff-primary);
}

.header {
  background-image: url("./images/background-pattern-desktop.svg");
  background-position: center;
  background-size: cover;

  height: 40rem;
}

.faq {
  background-color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 4rem;

  width: 70rem;

  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.faq__head {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--clr-dark-purple);
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.faq__item {
  border-bottom: 1px solid var(--clr-light-pink);
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
}

.faq__item:hover .faq__question {
  color: #ad28eb;
}
.faq__item:focus .faq__question {
  color: #ad28eb;
}
.faq__item:last-child {
  border-bottom: none;
}

.faq__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__question {
  color: var(--clr-dark-purple);
  font-weight: 700;
  font-size: 1.6rem;
}

.faq__answer {
  color: var(--clr-grayish-purple);
  line-height: 150%;
  font-size: 1.6rem;
}

.faq__answer--hidden {
  display: none;
}

@media only screen and (max-width: 375px) {
  .header {
    background-image: url("./images//background-pattern-mobile.svg");
  }
  .faq {
    width: 35rem;
  }
}
