.btn {
  font-family: var(--ff-primary);
  font-weight: 700;

  padding: 1.6rem 2rem;

  border-radius: 25px;

  cursor: pointer;

  background-color: transparent;
  color: var(--clr-gray-100);

  font-size: 1.4rem;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn--active {
  background-color: var(--clr-primary);
  color: var(--clr-dark-100);
}
