.btn {
  font-family: var(--ff-primary);
  font-weight: 700;

  padding: 1.6rem 2rem;

  border-radius: 25px;

  cursor: pointer;

  background-color: transparent;
  color: var(--clr-dark-100);

  font-size: 1.4rem;

  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;

  background-color: var(--clr-primary);
}

.btn-text {
  background-color: transparent;
  color: var(--clr-gray-100);
  opacity: 0.4;
}

.btn-text:hover {
  opacity: 1;
}
