.pentagon-container {
  position: relative;

  width: 35rem;
  height: 35rem;
}

.pentagon {
  width: 35rem;
  height: 35rem;
  background-color: #141f3b;

  --webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

  position: absolute;
  z-index: -100;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pentagon::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1b2a4b;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  z-index: -50;
}

.pentagon__icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15rem;
  height: 15rem;
}

.pentagon__top {
  position: absolute;
  top: -7.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.pentagon__top-right {
  position: absolute;
  top: 6rem;
  right: -20%;
}

.pentagon__bottom-right {
  position: absolute;
  bottom: -10%;
  left: 80%;
  transform: translateX(-50%);
}

.pentagon__bottom-left {
  position: absolute;
  bottom: -10%;
}

.pentagon__top-left {
  position: absolute;
  height: 100%;
  top: -10%;
  left: -20%;
}
