:root {
  --clr-primary: hsl(242, 48%, 58%);
  --clr-primary-light: hsl(243, 100%, 82%);

  --clr-dark-navy: hsl(237, 100%, 4%);

  --charcoal: hsl(235, 16%, 15%);
  --dark-slate: hsl(235, 12%, 19%);
  --slate-gray: hsl(236, 11%, 27%);

  --steel-gray: hsl(216, 15%, 57%);
  --pale-blue: hsl(221, 69%, 94%);
  --light-blue: hsl(220, 69%, 97%);
  --white: hsl(0, 0%, 100%);

  --danger-red: hsl(0, 78%, 63%);
  --light-red: hsl(0, 100%, 80%);

  --ff-primary: "Plus Jakarta Sans", sans-serif;
}
