.head {
  width: 100%;
  border: 3px solid var(--clr-grayish);
  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;

  margin-top: 10rem;
}

.head__gestures {
  color: white;
  line-height: 0.8;
  font-weight: normal;
}

@media screen and (max-width: 43.75em) {
  .head {
    width: 90%;
  }
  .head__gestures {
    font-size: 1rem;
  }
}
