.modal-content {
  position: relative;

  width: 54rem;

  background-color: var(--clr-white-100);

  border-radius: 25px;
}

@media only screen and (max-width: 29.8125em) {
  .modal-content {
    width: 32.7rem;
  }
}
