.search {
  background-image: url("../../assets/pattern-bg-desktop.png");
  background-position: center;
  background-size: cover;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;

  gap: 2rem;
  color: white;
}
.search__title {
  font-weight: 500;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
}

.search__button {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 1.25rem 2rem;

  background-color: black;
}

.search__button:hover {
  background-color: var(--clr-primary-100);
}

@media only screen and (max-width: 768px) {
  .search {
    padding-top: 2rem;
  }

  .search__form {
    width: 80%;
  }
}
